
body {
   background-image: url("https://media.giphy.com/media/5qVezULI35guQ/giphy.gif");
   background-size: cover;
}

.outer {
    display: table;
    position: absolute;
    top: 3%;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
}
    
#overlay {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 25px;
    width: 90vw;
    height: 90%;
    margin: auto;
    padding: 20px;
    font-family: verdana;
    font-size: 150%;
    overflow-y: scroll;
}

#leaderboardOverlay {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 25px;
    width: 90vw;
    height: 90%;
    margin: auto;
    padding: 20px;
    font-family: verdana;
    font-size: 150%;
    /* box-sizing: border-box; */
    display: flex;
    flex-direction: column;
}

.navbar {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  position: absolute;
  top: 0;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.username {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#leaderboard {
    background-color: rgba(146,182,237, 0.8);
    border-radius: 25px;
    width: 85%;
    height: 90%;
    margin: auto;
    font-family: verdana;
    overflow-y: auto;
    /* position:absolute; */
    /* font-size: 150%; */
}

.lbBlock {
    background-color: rgba(48,165,171, 0.8);
    height: 7.5%;
    margin: auto;
    font-family: verdana;
    font-size: 50%;
    overflow-y: auto;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    display: flex;
    flex-direction: row;
}

.lbBlock2 {
    background-color: rgba(128, 176, 178, 0.8);
    height: 7.5%;
    margin: auto;
    font-family: verdana;
    font-size: 50%;
    overflow-y: auto;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    display: flex;
    flex-direction: row;
}

.lbBlock:hover {
    background-color: rgba(39, 125, 130, 0.8);
}

.lbBlock2:hover {
    background-color: rgba(88, 123, 124, 0.8);
}

.scoreCol{
    border-right: solid; 
    border-left: solid;
    flex: 33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col {
    flex: 33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    margin-top: auto;
    margin-bottom: auto;
    opacity: 1;
    color: white;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #6bbdef;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover { background-color: #38a8ed;}

a { color: #0068D2; cursor: pointer; }
a:link, a:visited { text-decoration: none; color: #0068D2; }
a:hover, a:active { text-decoration: underline; color: #0068D2; }

#contacts-table { border-collapse: collapse; }
#contacts-table, #contacts-table th, #contacts-table td { padding: 8px 16px; text-align: left; border: 0px solid #B9BABE; }
#contacts-table th { font-weight: bold; font-size: 14px; color: #29344B; }
#contacts-table td { color: #000; }
#contacts-table tr:nth-child(2n) { background: #E8EDFF; }

#contacts-form { padding: 10px; }
.text input, .button input { padding: 5px; margin: 0; border: 1px solid #ccc; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }
#contacts-form .item { margin: 3px 0; }
#contacts-form label, #contacts-form .field { display: inline-block; color: #0C0B07; }
#contacts-form label { width: 110px; font-weight: bold; text-align: right; color: #666; }
#contacts-form .text input { width: 176px; padding: 3px; }
#contacts-form .button { display: inline-block; }
#contacts-form .button-wrapper { padding-left: 113px; }
.button input { padding: 4px 8px; color: #343434; background-color: #fdfdfd; background: -moz-linear-gradient(#fdfdfd, #e1e1e1); background: -webkit-gradient(linear, 0 0, 0 100%, from(#fdfdfd), to(#e1e1e1)); }
.button-default input { font-weight: bold; color: #fff; background-color: #7ca0c7; background: -moz-linear-gradient(#acc6e1, #7ca0c7); background: -webkit-gradient(linear, 0 0, 0 100%, from(#acc6e1), to(#7ca0c7)); border-color: #5b80b2; }

